{% extends 'home/main.html' %}
{% block main_section %}
{% for disc in discount %}
<div class="col-md-3"  style="float:left!important">
    <div class="card mb-4 shadow-sm">
        <img width="100%" height="200px" src="{{ disc.img.url }}" alt="">
      <div class="card-body">
        <p class="card-text">{{ disc.title }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">{{disc.duration}} hours</small>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock main_section %}
